{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
